* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
}
.container {
  max-width: 1194px;
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.search-form {
  display: flex;
  margin-left: 76px;
  background: rgba(238, 238, 238, 0.71);
  border-radius: 10px;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 13px 20px;
}
.search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0px 18px;
  cursor: pointer;
}
.auth {
  margin-left: auto;
}
.login {
  background: #ebebeb;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  /* text-decoration: none; */
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.shopping-cart {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #f66a15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  padding: 5px;
  background: #ffaf19;
  border-radius: 50%;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
}
/* slider  */
.slide {
  display: flex;
  align-items: center;
  padding: 100px;
  border-radius: 20px;
  min-height: 400px;
  overflow: hidden;
}

.slide-text-light {
  background-color: gray;
  color: #fff;
}
.slide-summer {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/summer.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-autumn {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/autumn.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-vitamins {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 40.45%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/vitamins.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-content {
  max-width: 400px;
}
.swiper {
  position: relative;
}
.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.slider-button {
  cursor: pointer;
}
.slide-title {
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;

  margin-top: 0;
  margin-bottom: 15px;
}
.slide-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 30px;
}
.button-primary {
  background: #f47322;
  color: #fff;
}
.button-default {
  background-color: #fff;
  color: #5f5f61;
}
.button {
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  /* text-decoration: none; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

/* promo */
.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  margin: -20px;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: 1; */
  flex: 50%;
  margin: 20px;
}
.card-text-light {
  color: #fff;
}
.card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}
.card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}
.card-price {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-bottom: 8px;
}
.card-delivery {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.sweet-basket {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/sweet-basket.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-right: 54px; */
}
.mini-basket {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/mini-basket.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .delivery-week  */
.section-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.delivery-week {
  padding: 100px 0;
}
.delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.delivery-card {
  position: relative;
  /* flex: 50%; */

  margin: 15px;
  width: 275px;
  height: 182px;
  border-radius: 18px;

  overflow: hidden;
}
.delivery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delivery-tag {
  position: absolute;
  left: 10px;
  top: 18px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 5px 10px;
  border-radius: 30px;
  color: #49494f;
}
.tag-health {
  background: #d0fd89;
}
.tag-vegetables {
  background: #aebc41;
  color: #fff;
}
.tag-meat {
  background: #b86b78;
  color: #fff;
}
.tag-bird {
  background: #d68334;
  color: #fff;
}
.tag-fish {
  background: #cd6255;
  color: #fff;
}
.tag-kids {
  background: #fffdbf;
}
.tag-parents {
  background: #f6fdc8;
}
.tag-festive {
  background: #fef7fe;
}
.section-gray {
  background: #f6f6f6;
}
.category {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 100px;
}
.tabs {
  display: flex;
  margin: 0px 0px 62px 0px;
  padding: 0;
  list-style: none;
}
.tabs-link {
  /* text-decoration: none; */
  font-size: 20px;
  line-height: 23px;
  color: #49494f;
  margin-right: 58px;
}
.tabs-link.active {
  color: #f37321;
}
.tabs-content {
  display: flex;
  justify-content: space-between;
  margin: -37px;
}
.tabs-card {
  max-width: 270px;
  overflow: hidden;
  background-color: #fff;
  margin: 37px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.tabs-image {
  max-width: 100%;
}
.tabs-card-content {
  padding: 23px;
}
.tabs-title {
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #b9b9be;
}
.tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs-price {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4b4b51;
}
.tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #aaaab1;
}
.button-outline {
  background-color: transparent;
  padding: 15px 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f37321;
  border: 2px solid #f37321;
  border-radius: 33px;
  cursor: pointer;
}
.button-center {
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}
/* advantages */
.advantages {
  margin: 0px 0px 202px 0px;
}
.advantages-cards {
  display: flex;
  /* flex-wrap: wrap; */
  margin: -37px;
}
.advantages-card {
  text-align: center;
  flex: 20%;
  max-width: 270px;
  overflow: hidden;
  background-color: #fff;
  margin: 37px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding: 30px 30px 30px 30px;
}
.advantages-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  margin: 34px 0 14px 0;
}
.advantages-descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494f;
}
.footer {
  padding: 40px 0;
  background: #f6f6f6;
}
.footer-wrapper {
  display: flex;
  align-items: center;
}
.footer-logo {
  margin-right: 50px;
}
.footer-link {
  font-size: 16px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #000000;
  margin-right: 50px;
}
.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.social-link {
  margin-left: 20px;
}

@media (max-width: 1260px) {
  .container {
    max-width: 900px;
  }
  .search-form {
    margin-left: 40px;
    margin-right: 40px;
  }
  .tabs-content {
    flex-wrap: wrap;
  }
  .tabs-card {
    flex: 50%;
    max-width: calc(50% - 30px);
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .slide {
    padding: 70px;
  }
  .delivery-card {
    width: calc(50% - 30px);
  }
  .footer-logo {
    margin-right: 40px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .header {
    flex-wrap: wrap;
  }
  .search-form {
    order: 5;
    margin: 15px 0px 15px 0px;
  }
  .promo {
    flex-wrap: wrap;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .tabs-card {
    max-width: 100%;
  }
}
